.container {
    background-color: white; /* Fondo blanco */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 2rem; /* Espaciado interno */
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #000; /* Texto negro */
    text-align: center;
    margin-top: 2rem;
}

.form {
    max-width: 1200px; /* Ancho máximo del formulario */
    margin: 5% auto; /* Centrado horizontal */
    margin-left: 8.5rem; /* Desplaza el formulario hacia la derecha */
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox para dividir en columnas */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si es necesario */
    gap: 2rem; /* Espaciado entre columnas */
}

.column {
    flex: 1; /* Cada columna ocupa el mismo espacio */
    min-width: 400px; /* Aumenta el ancho mínimo de cada columna */
}

.formGroup {
    margin-bottom: 1.5rem; /* Espaciado entre grupos de formulario */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espaciado entre etiqueta e input */
}

input, select {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0.75rem; /* Aumenta el padding para inputs */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
}

.submitButton {
    display: block;
    width: 30%; /* Botón ocupa todo el ancho */
    padding: 0.75rem;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    text-align: center;
    margin-left: 34%;
}

.submitButton:hover {
    background-color: gray; /* Fondo gris al pasar el cursor */
}

.sectionTitle {
    font-size: 1.5rem; /* Tamaño de fuente */
    color: #000; /* Color negro */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-bottom: 1rem; /* Espaciado inferior */
    font-weight: normal; /* Sin negrilla */
    text-align: center; /* Centrar el texto */
}

.customTitle {
    color: #f0f0f0; /* Cambia este color al que desees */
}

