.container {
    background-color: white; /* Fondo blanco */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 2rem; /* Espaciado interno */
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #000; /* Texto negro */
    text-align: center;
    margin-top: 2rem;
}

p {
    font-size: 1.2rem;
    color: #333; /* Texto gris oscuro */
    text-align: center;
    margin-top: 1rem;
}

.searchContainer {
    background-color: black;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.searchContainer > div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin-bottom: 15px;
}
.searchContainer label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}
.searchContainer input {
    width: 100%;
    padding: 14px 13px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    color: black;
    outline: none;
    transition: border-color 0.3s;
}
.searchContainer input:focus {
    border-color: gray;
}
.searchButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.searchContainer button {
    background-color: #38bdf8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: auto;
}
.searchContainer button:hover {
    background-color: #0056b3;
}

input, select {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0.75rem; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
}
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los botones */
    margin-top: 250px;
}

.deleteButton {
    background-color: #f87171; /* Rojo claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #dc2626; /* Rojo más oscuro */
}

.editButton {
    background-color: #38bdf8; /* Verde claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: #0056b3; /* Verde más oscuro */
}
