/* src/index.css */
/* 1. Reset de márgenes/paddings y box-sizing */
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Asegurar que root y body llenen la pantalla */
html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
